[user]
	email = caio.gallo@gmail.com
	name = Caio César Gallo

[alias]
	ck = checkout
	st = status
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative


# alias bitbucket: para url do bitbucket
[url "git@bitbucket.org:caiogallo/"]
	insteadOf = bitbucket:

#alias github: para url do github
[url "git@github.com:caiogallo/"]
	insteadOf = github:


