set -g status-style 'bg=#333333 fg=#5eacd3'

set -g default-shell /bin/bash
set -g mode-keys vi

bind-key -r f run-shell "tmux neww ~/.local/bin/tmux-sessionizer"

bind r source-file ~/.tmux.config

# vim-like pane switching
bind -r ^ last-window
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

#set -g extended-keys on
#set -s extended-keys on
#set -as terminal-features 'xterm*:extkeys'
